In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('odi.csv')

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [4]:
df.shape

(350899, 15)

In [5]:
x = df.iloc[:,[7,8,9,10,11,12,13]]
y = df.iloc[:,[14]]

In [6]:
x.head()
x.shape

(350899, 7)

In [7]:
# splitting data set into 4 splits

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30)

In [8]:
x_train.shape

(245629, 7)

In [9]:
x_test.shape

(105270, 7)

In [10]:
# Model 1 = linear regression

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
y_prediction = lr.predict(x_test)

In [12]:
y_prediction.shape
y_prediction

array([[243.2027156 ],
       [206.9183816 ],
       [252.48010709],
       ...,
       [248.78363082],
       [247.44678009],
       [272.63724355]])

In [13]:
from sklearn import metrics as mt

In [14]:
print(mt.mean_squared_error(y_prediction, y_test))

1842.802133569959

In [15]:
print(mt.r2_score(y_prediction, y_test)*100)

9.463924428225523

In [16]:
# Model 2 = Random Forest Regressor

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=10)

In [22]:
rf.fit(x_train,y_train)
y_prediction1 = rf.predict(x_test)

print(mt.r2_score(y_prediction1, y_test))

<ipython-input-22-0459e8b9392f>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

0.7139811107293657

In [18]:
newinput = np.array([[11,5,13,7,0,1,0]])

In [19]:
newinputpredict = rf.predict(newinput)

In [20]:
print(newinputpredict)

[109.3]